In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.56.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.6.3)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (0.2.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

**IMPORT LIBRARIES**

In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

**IMPORT DATASETS AND PERFORM EDA**

In [3]:
df1=pd.read_csv("mental-and-substance-use-as-share-of-disease.csv")
df2=pd.read_csv("prevalence-by-mental-and-substance-use-disorder.csv")

In [4]:
df1.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.696670
1,Afghanistan,AFG,1991,1.734281
2,Afghanistan,AFG,1992,1.791189
3,Afghanistan,AFG,1993,1.776779
4,Afghanistan,AFG,1994,1.712986

In [5]:
df2.head()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779

In [6]:
print(df1.describe)
print(df2.describe)

<bound method NDFrame.describe of            Entity Code  Year  \
0     Afghanistan  AFG  1990
1     Afghanistan  AFG  1991
2     Afghanistan  AFG  1992
3     Afghanistan  AFG  1993
4     Afghanistan  AFG  1994
...           ...  ...   ...
6835     Zimbabwe  ZWE  2015
6836     Zimbabwe  ZWE  2016
6837     Zimbabwe  ZWE  2017
6838     Zimbabwe  ZWE  2018
6839     Zimbabwe  ZWE  2019

      DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0                                              1.696670
1                                              1.734281
2                                              1.791189
3                                              1.776779
4                                              1.712986
...                                                 ...
6835                                           2.193166
6836                                           2.279813
6837                                           2.364265
6838                                           2.472949
6839                                           2.525892

[6840 rows x 4 columns]>
<bound method NDFrame.describe of            Entity Code  Year  \
0     Afghanistan  AFG  1990
1     Afghanistan  AFG  1991
2     Afghanistan  AFG  1992
3     Afghanistan  AFG  1993
4     Afghanistan  AFG  1994
...           ...  ...   ...
6835     Zimbabwe  ZWE  2015
6836     Zimbabwe  ZWE  2016
6837     Zimbabwe  ZWE  2017
6838     Zimbabwe  ZWE  2018
6839     Zimbabwe  ZWE  2019

      Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)  \
0                                              0.228979
1                                              0.228120
2                                              0.227328
3                                              0.226468
4                                              0.225567
...                                                 ...
6835                                           0.209359
6836                                           0.209979
6837                                           0.210631
6838                                           0.211237
6839                                           0.211969

      Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)  \
0                                              0.721207
1                                              0.719952
2                                              0.718418
3                                              0.717452
4                                              0.717012
...                                                 ...
6835                                           0.560882
6836                                           0.561768
6837                                           0.562612
6838                                           0.563283
6839                                           0.563820

      Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)  \
0                                              0.131001
1                                              0.126395
2                                              0.121832
3                                              0.117942
4                                              0.114547
...                                                 ...
6835                                           0.099610
6836                                           0.100821
6837                                           0.101671
6838                                           0.102398
6839                                           0.102902

      Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)  \
0                                              4.835127
1                                              4.821765
2                                              4.801434
3                                              4.789363
4                                              4.784923
...                                                 ...
6835                                           3.315701
6836                                           3.324230
6837                                           3.330569
6838                                           3.317500
6839                                           3.283934

      Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)  \
0                                              0.454202
1                                              0.447112
2                                              0.441190
3                                              0.435581
4                                              0.431822
...                                                 ...
6835                                           0.599604
6836                                           0.603658
6837                                           0.608096
6838                                           0.609065
6839                                           0.610644

      Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)  \
0                                              5.125291
1                                              5.116306
2                                              5.106558
3                                              5.100328
4                                              5.099424
...                                                 ...
6835                                           3.548613
6836                                           3.557508
6837                                           3.564138
6838                                           3.563141
6839                                           3.554571

      Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0                                              0.444036
1                                              0.444250
2                                              0.445501
3                                              0.445958
4                                              0.445779
...                                                 ...
6835                                           1.734969
6836                                           1.689281
6837                                           1.651805
6838                                           1.686711
6839                                           1.776729

[6840 rows x 10 columns]>

In [7]:
data = pd.merge(df1, df2)
data.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,1.696670,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,1.734281,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,1.791189,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,1.776779,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,1.712986,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6840 entries, 0 to 6839
Data columns (total 11 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Entity                                                                                           6840 non-null   object
 1   Code                                                                                             6150 non-null   object
 2   Year                                                                                             6840 non-null   int64
 3   DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)  6840 non-null   float64
 4   Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)                         6840 non-null   float64
 5   Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)                      6840 non-null   float64
 6   Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)                      6840 non-null   float64
 7   Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)                     6840 non-null   float64
 8   Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)                    6840 non-null   float64
 9   Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)                  6840 non-null   float64
 10  Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)                 6840 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 641.2+ KB

In [9]:
data.isnull().sum()

Entity                                                                                               0
Code                                                                                               690
Year                                                                                                 0
DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)      0
Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)                             0
Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)                          0
Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)                          0
Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)                         0
Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)                        0
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)                      0
Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)                     0
dtype: int64

In [10]:
data.drop(['Entity','Code','Year'],axis=1,inplace=True)

In [11]:
data.head()

,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,1.696670,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,1.734281,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,1.791189,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,1.776779,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,1.712986,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779

In [12]:
data.set_axis(['mental_fitness','Schizophrenia', 'Bipolar_disorder', 'Eating_disorder','Anxiety','drug_usage','depression','alcohol'], axis='columns', inplace=True)

<ipython-input-12-e6c29cabb45c>:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  data.set_axis(['mental_fitness','Schizophrenia', 'Bipolar_disorder', 'Eating_disorder','Anxiety','drug_usage','depression','alcohol'], axis='columns', inplace=True)

In [13]:
data.head()

,mental_fitness,Schizophrenia,Bipolar_disorder,Eating_disorder,Anxiety,drug_usage,depression,alcohol
0,1.696670,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,1.734281,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,1.791189,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,1.776779,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,1.712986,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779

**DATA PREPROCESSING**

In [14]:
x=data[['Schizophrenia',
       'Bipolar_disorder',
       'Eating_disorder',
       'Anxiety',
       'drug_usage',
       'depression',
        'alcohol',]].to_numpy()

y=data[['mental_fitness']].to_numpy()

In [15]:
scaler=StandardScaler()
x=scaler.fit_transform(x)

x_train,x_test,y_train,y_test=train_test_split(x,y)

**FIT THE MODEL**

In [16]:
from sklearn.ensemble import RandomForestRegressor

reg=RandomForestRegressor()
reg.fit(x_train,y_train)
y_pred=reg.predict(x_test)

<ipython-input-16-fff2eb73bd6f>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  reg.fit(x_train,y_train)

**MODEL EVALUATION**

In [17]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
rmse = (np.sqrt(mean_squared_error(y_test, y_pred)))
r2 = r2_score(y_test, y_pred)

print("\nModel Performance:\n")

print('MSE is {}'.format(mse))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))

Model Performance:

MSE is 0.04021379247717128
RMSE is 0.2005337689197789
R2 score is 0.9922162257034036

In [25]:
np.random.seed(range(0,100))
print('MENTAL FITNESS TRACKER!!!')
print()
schi = (float(input('Enter your Schizophrenia rate in % : ')))/100
bip = (float(input('Enter your bipolar disorder rate in % : ')))/100
eatd = (float(input('Enter your eating disorder rate in % : ')))/100
anx = (float(input('Enter your Anxiety rate in % : ')))/10
drug = (float(input('Enter your drug usage rate in % : ')))/100
depr = (float(input('Enter your Depression rate in % : ')))/10
alc = (float(input('Enter your Alchohol consumption rate in % : ')))/100

prediction = reg.predict([[schi,bip,eatd,anx,drug,depr,alc]])
print("Your Mental Fitness is {}%".format(round(float(prediction*10),2)))

MENTAL FITNESS TRACKER!!!

Enter your Schizophrenia rate in % : 3
Enter your bipolar disorder rate in % : 30
Enter your eating disorder rate in % : 50
Enter your Anxiety rate in % : 70
Enter your drug usage rate in % : 20
Enter your Depression rate in % : 48
Enter your Alchohol consumption rate in % : 2
Your Mental Fitness is 73.44%